#emoji-sweeper {
  color: white;
  text-align: center;
}

#score {
  margin-bottom: 1.5em;
}

#emojis {
  width: 100%;
  height: 500px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#emojis .emoji {
  position: absolute;
  font-size: 26px;
  color: white;
  transition: transform 0.1s ease-in-out;
}

#emojis .emoji:not(.revealed):hover {
  cursor: pointer;
  transform: scale(1.2);
}
